.nav{
    position: absolute;
    width: 1164px;
    height: 114px;
    top: 25px;
    left: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    }

    
    .skyone__nav-logo
    {
        display: flex;
        align-items: center; 
        width: 195px;
height: 65px;
top: 20px;
left: 176px;
    }

    .skyone__nav-logo .skyone{
        margin-left: -10px;
    }
    .skyone__logo{
        width: 43.13px;
height: 46px;

    }

    .skyone__huambuger{
        margin-left: 10px;
    }
    
    .nav-links{
        display: flex;
        gap: 50px;
        margin-right: -40px;
    }

    .nav-liks-container ul li{
        padding-left: 5px;
    }
    
    li{
        list-style: none;
    }
    
    ul{
        display: flex;
        gap: 25px;
    }
    
    .nav-links ul li a:hover{
        cursor: pointer;
        text-decoration: underline;
        transition: all 0.3s ease;
    }
    
    
    li a{
    text-decoration: none;
    font-family: Magnolia;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #361C10;
    }

    @media screen and (max-width:768px) {
         .skyone__nav-logo{
            display: flex;
            float: inline-start;
            flex-direction: row;
            margin-left: -110px;
            width: 77px;
            height: 32px;
            top: 14px;
            left: 50px;
            

         }
         .logo{
            width: 20px;
height: 19px;
top: 22px;
left: 20px;

         }

         .skyone{
            font-family: SVN-Aire Pro;
font-size: 24px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0.02em;
text-align: left;

padding-top: 10px;

         }

        .skyone__huambuger
        {
            width: 25px;
           height: 18px;
           margin-right: 50px;

        }
        .nav-liks-container{
            display: none;
        }
        .nav{
            display: flex;
            width: 100%;
        }


    }

    