.nav{
    position: absolute;
    width: 1164px;
    height: 114px;
    top: 25px;
    left: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    
    }

    
    .skyone__nav-logo
    {
        display: flex;
        align-items: center; 
        width: 195px;
height: 65px;
top: 20px;
left: 176px;
    }

    .skyone__nav-logo .skyone{
        margin-left: -10px;
    }
    .skyone__logo{
        width: 43.13px;
height: 46px;

    }

    
    .nav-links{
        display: flex;
        gap: 50px;
        margin-right: -40px;
    }

    .nav-links-container ul li{
        padding-left: 5px;
    }
    
    li{
        list-style: none;
    }
    
    ul{
        display: flex;
        gap: 25px;
    }
    
    .nav-links ul li a:hover{
        cursor: pointer;
        text-decoration: underline;
        transition: all 0.3s ease;
    }
    
    
    li a{
    text-decoration: none;
    font-family: Magnolia;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #361C10;
    }

    .nav-links-desktop
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80px;
    }

    .nav-links-desktop a
    {
padding-left: 40px;
text-decoration: none; 
color: #361C10;
;
    }
    .nav-links-desktop a:hover {
        font-weight: bold; 
      }



/* Menu Bar */


.nav .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    visibility: visible;
    opacity: 1;
    font-size: 1.8rem;
}

.nav .nav-close-btn{
    visibility: visible;
    opacity: 0;
}

.nav .nav-links{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    margin-left: 750px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    background-color: #361C10;
    transition: 1s;
    transform: translateX(240vh);
    padding-left: 20px;
     }

     .nav .responsive_nav{
        transform: none;
     }

     .nav-links .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
        color: burlywood;
     }

     .nav-links-container ul li{
        font-size: 1.5rem;
     }
    
     .email-no{
        display: flex;
        position: fixed;
        flex-direction: column;
        bottom: 2rem;
        width: 400px;
        height: 120px;
    
     }
    
     .email-no p{
        font-family: Garet;
    font-size: 16px;
    font-weight: 850;
    line-height: 9px;
    letter-spacing: 0em;
    text-align: left;
    color: #E6D5B8;
    padding-top: 30px;
    
     }
    
     .social-tags{
        display: flex;
        position: fixed;
        flex-direction: column;
        bottom: 2rem;
        right: 0;
        margin-right: 20px;
     }
     
 .social-tags h4{
    padding-top: 20px;
    color:#E6D5B8 ;
     }
     .nav-links a {
        color: #E6D5B8; 
        text-decoration: none; 
        transition: font-weight 0.3s ease;
        font-family: Magnolia;
font-size: 36px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
padding-top: 40px;

      }

      .nav-links a:hover {
        font-weight: bold; 
      }





@media (min-width: 769px) {
    .new-nav-links-content{
        display: none;
        
    }
    .nav .nav-btn{
        visibility: visible;
        opacity: 1;
    }
}




/* Mobile view */
    @media screen and (max-width:768px) {
        .new-nav-links-content{
            display: none;
            
        }

        .nav-links-desktop
        {
            display: none;
        }

        .nav .nav-btn{
            visibility: visible;
            opacity: 1;
        }

        .nav .nav-links{
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
margin-left: 0px;
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
gap: 1.5rem;
background-color: #361C10;
transition: 1s;
transform: translateX(100vh);
padding-left: 20px;
 }

 .nav .responsive_nav{
    transform: none;
 }

 .nav-links .nav-close-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: burlywood;
 }

 .nav-links-container ul li{
    font-size: 1.5rem;
 }

 .email-no{
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 2rem;
    width: 400px;
    height: 120px;

 }

 .email-no p{
    font-family: Garet;
font-size: 16px;
font-weight: 850;
line-height: 9px;
letter-spacing: 0em;
text-align: left;
color: #E6D5B8;
padding-top: 30px;

 }

 .social-tags{
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 2rem;
    right: 0;
    margin-right: 20px;
 }

 .social-tags h4{
padding-top: 20px;
color:#E6D5B8 ;
 }


         .skyone__nav-logo{
            display: flex;
            float: inline-start;
            flex-direction: row;
            margin-left: -110px;
            width: 77px;
            height: 32px;
            top: 14px;
            left: 50px;
        }
         .nav .skyone__nav-logo .skyone{
            width: 75px;
            height: 32px;
}

.nav .skyone__nav-logo .logo{
    width: 60px;
height: 59px;
margin-top: -0.5px;
}




         .skyone img{
            font-family: SVN-Aire Pro;
font-size: 14px;
font-weight: 200;
line-height: 40px;
letter-spacing: 0.02em;
text-align: left;

padding-top: 10px;

         }

        .nav{
            display: flex;
            flex-direction: row;
            width: 65%;
        }
        .nav-links a {
            color: #E6D5B8; 
            text-decoration: none; 
            transition: font-weight 0.3s ease;
            font-family: Magnolia;
font-size: 36px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
padding-top: 40px;
 
          }

          .nav-links a:hover {
            font-weight: bold; 
          }


    }


  
    