.footer{
    width: 98.9vw;
    height: full;
    background-image: url('../../assets//footer-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: absolute;
    
}
.sm-links{
    display: flex;
    flex-direction: column;
}

.logo-social{
width: Fixed (1,225px);
height: Fixed (231px);
display: flex;
justify-content: space-between;
margin-inline: 130px;
margin-top: 20px;
}

.logo{
width: Fixed (189px);
height: Hug (69px);
display: flex;
align-items: center;
margin-top: -40px;
}

.logo .skyone{
    margin-left: -10px;
}

.address{
width: Fixed (322px);
height: Fill (231px);
display: flex;
justify-content: center;
flex-direction: column;
row-gap: 10px;
margin-top: 40px;
}

.adr-title{
    font-family: Garet;
font-size: 25px;
font-weight: 850;
line-height: 36px;
color: #000000;
}

.detail-adr{
    font-family: Garet;
font-size: 16px;
font-weight: 300;
line-height: 23px;
color: #361C10;
}

.sm{
font-family: Garet;
font-size: 16px;
font-weight: 850;
line-height: 23px;
color: #000000;
text-decoration: none;
}

.sm:hover{
    cursor: pointer;
}

.end{
width: Fixed (1,225px);
height: Fixed (231px);
display: flex;
justify-content: space-between;
margin-inline: 130px;
align-items: center;

}


.ec-p1{
font-family: Garet;
font-size: 16px;
font-weight: 850;
line-height: 23px;
color: #000000;
}

.ec-p2{
font-family: Garet;
font-size: 100px;
font-weight: 850;
line-height: 145px;
color:#361C10 ;
}

.end-logo:hover{
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .footer{
        margin-right: 20px;
        
    }
    .logo-social{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        
    }
    .logo{
        margin-top: 10px;
    }
    .sm-links
    {
        display: flex;
        flex-direction: row;
        margin-left: -40px;
        margin-top: 20px;
        
    }

    .sm-links a{
        padding-left: 40px;
    }
    
    .address{
        margin-left: 10px;
    }
    .address-content{
        width: 322px;
        height: 45px;
        top: 90px;
        left: 19px;

    }
    .end{
        margin-left: 100px;
    }
    .end-content{
        margin-left: -70px;
        
        
    }
    .ec-p1{
        width: Hug (120px);
        height: Hug (15px);
        font-size: 10px;
        font-weight: 850;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;

    }

    .ec-p2{
        font-size: 20px;
        margin-top: -40px;
    }
    .end-logo img{
        margin-left: 60px;
        width: 34px;
        height: 36.21px;
        top: 211px;
        left: 299.99px;
        Rotation:-40.23°;
        margin-top: -30px;


    }
}

