/* body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/index-background.png');
    background-size: cover;
    background-repeat: no-repeat;
  } */
  
  @media screen and (max-width: 480px) {
    body {
      background-image: url('./assets/mobile-background.png');
      background-size: cover; /* You can adjust this value as needed */
    }
  }
  